@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #B9BDCF;
}

.container {
    background-color: #ffffff;
    display: flex;
    /* justify-content: center;
    align-items: flex-start;
    align-content: flex-start;*/
    flex-direction: column;
    width: 80% auto;
}

.container-info {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 156px;
    border-radius: 16px;
    border: none;
    margin-top: 60px;
    margin-bottom: 16px;

}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #4E5150;
}

.header h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #A9A9A9;
}

.header ul li {
    width: 100px;
    height: 67px;
    margin-top: 24px;
    margin: 12px;
    background-color: #E5E5E5;
    border-radius: 12px;
    list-style: none;
    text-align: center;
    text-align-last: center;
    display: inline-block;
    padding: 14px 25px;
    color: #BDBDBD;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}


.header ul li span {
    color: black;
    text-align: center;
    font-weight: 700;
}

.header-info-posts {
    text-align: center;
}

.header-info-follower{
    text-align: center;
}

.header-info-following {
    text-align: center;
}

.container-gallery {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.gallery {
    width: 700px;
    height: 580px;
    margin: 18px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 6%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 3vw);
    grid-gap: 18px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.gallery-item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery-item2 {
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery-item3 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
}

.gallery-item4 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 11;
}

.gallery-item5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 11;
}

.gallery-item6 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 11;
}

footer {
    margin-left: 50%;
    margin-right: 50%;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    text-align: center;
    font-size: 14px;
    color: #B9BDCF;
}

@media screen and (max-width:600px) {
    .header img {
        width: 101.76px;
        border: none;
        margin-top: 30px;
        margin-bottom: 11.24px;
    }

    .header ul li {
        width: 78px;
        height: 52px;
        margin-bottom: 20px;
        font-size: 12px;
        text-align: center;
    }

    .gallery {
        width: 80%;
        height: 300px;
        margin: 6% 6% 6% 6%;
    }

   
}

